.ordination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-left: 25px;
    padding-bottom: 16px;
    padding-right: 36px;
    width: 70%;
    margin: auto;

}

.ordination__car-link,
.ordination__classification-link {
    color: #000000
}

.washers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.washer {
    width: 70%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 16px 36px 16px 35px;
    display: flex;

}

.washer__info {
    display: flex;
    width: 40%;
}

.washer__photo {
    width: 55px;
    height: 55px;
    margin: 13px 12px 12px 13px;
}

.washer__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}

.app-washer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.app-washer__info {
    display: flex;

}



.app-washer__note {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    margin-top: 6px;
    margin-right: 10px;

}

.app-washer__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 16px 6px 8px;
    background: #DCFCFE;
    border-radius: 0px 10px 0px 0px;

}

.app-washer__select {
    margin-right: 10px;
    margin-bottom: 9px;
    margin-left: 9px;
}

.app-washer__avaliations {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
}

.app-washer__button-wash {
    background: #8FF2FF;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    padding: 5px 5px 5px 6px;
}