/*Pedir lavagem*/
.navbar {
    background-color: #BCF7FF;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}



.navbar__img {
    padding: 2px 142px 11px 15px;
}

.navtag {
    display: flex;

}

.navtag__link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 18px
}

.navtag__button {
    background-color: #8FF2FF;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin: 14px 13px 15px 24px;
    padding: 4px 9px 3px 10px;
    width: 46px;
    height: 24px;

}

.main-content {
    background: #EAF7FF;

}

.title {
    display: flex;
    justify-content: center;
}

.title__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    padding-top: 26px;
    padding-bottom: 23px;
}

.ordination {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-left: 25px;
    padding-bottom: 16px;
    padding-right: 36px;

}

.ordination__car-link,
.ordination__classification-link {
    color: #000000
}

.washers-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.washer {
    width: 680px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 16px 36px 16px 35px;
    display: flex;

}

.washer__info {
    display: flex;
    width: 40%;
}

.washer__photo {
    width: 55px;
    height: 55px;
    margin: 13px 12px 12px 13px;
}

.washer__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
}

.app-washer {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.app-washer__info {
    display: flex;

}



.app-washer__note {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    margin-top: 6px;
    margin-right: 10px;

}

.app-washer__price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 6px 16px 6px 8px;
    background: #DCFCFE;
    border-radius: 0px 10px 0px 0px;

}

.app-washer__select {
    margin-right: 10px;
    margin-bottom: 9px;
    margin-left: 9px;
}

.app-washer__avaliations {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #000000;
}

.app-washer__button-wash {
    background: #8FF2FF;
    border-radius: 5px;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    padding: 5px 5px 5px 6px;
}

.footer {
    background: #BCF7FF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
}

.footer__img {
    margin: 16px 1px 42px 20px;
}

.footer__menu {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;
}

.footer__list {
    list-style: none;

}

.footer__links {
    text-decoration: none;
    color: #000000;

}

.footer__info {}

.footer__instagram {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 6px;
    line-height: 7px;


}

.footer__copyrights {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4px;
    line-height: 5px;
    margin-right: 11px;

}

/*Meus carros*/
.cars-list {
    display: flex;
    flex-direction: column;

}

.car {
    width: 680px;
    height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 16px 36px 16px 35px;
    display: flex;
    justify-content: space-between;
}

.car__info {
    margin: 5px 1px 45px 11px;

}

.car__name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;

}

.car__year {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 15px;
    margin: 0;

}

.car__button {
    align-self: flex-end;
}

.car__button-del {
    margin: 46px 10px 9px 1px;
    width: 103px;
    height: 25px;
    background: #FF9B9B;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border: none;


}

.add {
    display: flex;
    justify-content: center;
}

.add__car-button {
    width: 103px;
    height: 25px;
    background: #8FF2FF;
    border-radius: 5px;
    border: none;
    margin: 16px 208px 235px 206px;
}

/*adicionar carro*/

.new-car {
    width: 446px;
    height: 181px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #000000;
}


.new-car__fab-select {
    display: block;
    width: 248px;
    height: 19px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}

.new-car__mod-mod {
    display: block;
    width: 248px;
    height: 19px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}

.new-car__fab-year {
    display: block;
    width: 63px;
    height: 19px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}

.new-car__details{
    padding: 26px 175px 26px 23px;
}